// colors
$primary: #9be21e;
$secondary: #005500;
$accent: #9be21e;
$bg-left: #000;
$bg-right: #282A3A;
$emphasis: #00c2ff;

// fonts
$interactive-font-size: 1.5rem;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    } @else if $point == lg {
        // 1024px
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point == xl {
        // 1280px
        @media (min-width: 80em) {
            @content;
        }
    }
}